<div class="container">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron text-center">
    <h1 class="text-center">Basic Info Yay</h1>
    <p class="text-center">Silver Fit helps Boomers get fit, live healthier, more active lives, and spend more time with loved ones.</p>

    <div class="info-form">
    </div>
  </div>

  <div class="body-content">

    <hr>
  </div>

</div> <!-- /container -->

