    <div style="background-color:rgba(0, 0, 0, 0.5)">
    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Tell us about yourself</div>
  
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form">
                            
                            <div class="signin-group form-group" style="margin:10px;">
                                <div style="margin-bottom: 25px; float:left; margin-right:10px;" class="input-group">
                                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
                                    <input id="login-username" type="text" class="form-control"  value="" placeholder="Your Name">                                        
                                </div>
                                    
                                <div style="margin-bottom: 25px" class="input-group">
                                  <!--   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                                    <input id="login-email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>

                            <div class="signin-group form-group" style="margin:10px;">
                                <div style="width:50px; margin-bottom: 25px; float:left; margin-right:10px;" class="input-group">
                                  <!--   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                                    <input id="age" type="text" class="form-control" name="password" placeholder="Age">
                                </div>
                                <div style="width:75px; margin-bottom: 25px; float:left; margin-right:10px;" class="input-group">
                                  <!--   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                                    <input id="weight" type="text" class="form-control" name="password" placeholder="Weight">
                                </div>
                                <div style="width:50px; margin-bottom: 25px; float:left; margin-right:10px;" class="input-group">
                                  <!--   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                                    <input id="gender" type="text" class="form-control" name="password" placeholder="M/F">
                                </div>

                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">
                                  <h3 style="float:left;">What is your goal?</h3>
                                </div>
                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <select class="form-control" style="width:400px; margin-left:15px;">
                                  <option>Choose a Goal</option>
                                  <option>Lose Weight</option>
                                  <option>Improve Mobility</option>
                                  <option>Increase Strength</option>
                                  <option>Gain Energy</option>
                                </select>
                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">
                                  <h3 style="float:left;">What is your current activity level?</h3>
                                </div>
                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <select class="form-control" style="width:400px; margin-left:15px;">
                                  <option>Choose One</option>
                                  <option>I already have a workout plan.</option>
                                  <option>I'm totally new to this!</option>
                                  <option>I'm active sometimes, but not enough.</option>
                                </select>
                            </div>

                            
                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">
                                  <h3 style="float:left;">When do you want to reach your goal?</h3>
                                </div>
                            </div>

                            <div class="signin-group">
                                <div style="width:50px; margin-bottom: 25px; float:left; margin-right:10px;" class="input-group">
                                  <!--   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                                    <input id="mm" type="text" class="form-control" name="month" placeholder="MM">
                                </div>
                                <div style="width:50px; margin-bottom: 25px; float:left; margin-right:10px;" class="input-group">
                                  <!--   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                                    <input id="dd" type="text" class="form-control" name="date" placeholder="DD">
                                </div>
                                <div style="width:100px; margin-bottom: 25px; float:left; margin-right:10px;" class="input-group">
                                  <!--   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> -->
                                    <input id="yyyy" type="text" class="form-control" name="year" placeholder="YYYY">
                                </div>
                            </div>

                                
                            <div class="input-group">

                                    </div>

                                <br />
                                <br />
                                <div style="margin-top:10px; float:left;" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-login" href="/yes" class="btn btn-success">Let's go!  </a>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
       
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                    
                                
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email Address">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="icode" class="col-md-3 control-label">Invitation Code</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="icode" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                        <span style="margin-left:8px;">or</span>  
                                    </div>
                                </div>
                                
                                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                                    
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                                    </div>                                           
                                        
                                </div>
                                
                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
         </div> 
    </div>

</div>
    