


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center" style="background-color:white;">
  <%= image_tag('logo.jpg') %>
  <p class="text-center">Silver Fit helps Boomers get fit, live healthier, more active lives, and spend more time with loved ones.</p>
  <div class="goal-buttons">
    <h2 class="prompt">What is your goal?</h2>
    <p><%= link_to "Overall Health", users_basic_info_path, class: 'btn btn-success' %></p>
    <p><a class="btn btn-success" href="/users/new?goal=2">Improve Mobility</a></p>
    <p><a class="btn btn-success" href="/users/new?goal=3">Weight Loss</a></p>
    <p><a class="btn btn-success" href="/users/new?goal=4">Build Muscle</a></p>
  </div>
</div>



<style type="text/css">
  body, h1.logo, h2.prompt {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
  }
  .goal-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .goal-buttons a {
    width: 20%;
  }
</style>
